/*
    Created on : Oct 18, 2014, 6:53:54 PM
    Author     : Haseeb Shahid
*/
#controls_toolbar {
    margin-top: 10px;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

#volume_toolbar {
    margin-top: 10px;
    margin-bottom: 20px;
}

canvas {
    border: 1px solid black;
    display: block;
    margin: auto;
    padding: 0;
}