.h-button {
    height: 100%;
    text-transform: inherit;
}

.h-link-text {
    color: white;
    display: block;
    text-decoration: none;
}

.spacer {
    margin-top: 10px;
    margin-bottom: 10px;
}

canvas {
    border: 1px solid black;
    display: block;
    margin: auto;
    padding: 0;
}