.toolbarRow {
    margin-top: 10px;
    margin-bottom: 20px;
}

canvas {
    border: 1px solid black;
    display: block;
    margin: auto;
    padding: 0;
}

h1, h3 {
    margin: 0;
    padding: 0;
}